# Ambiente Python
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd

# Banco de dados SQLite
sistema_entregas.db

# Configurações do VSCode e IDEs
.vscode/
.idea/

# Logs
*.log

# Cache do Flask
instance/
*.db-journal

# Node (caso use para front-end)
node_modules/
dist/
build/

# Outros arquivos do sistema
.DS_Store
Thumbs.db